{
  "plugins": ["prettier-plugin-astro"],
  "overrides": [{ "files": "*.astro", "options": { "parser": "astro" } }],
  "singleQuote": false,
  "semi": true,
  "trailingComma": "none",
  "bracketSpacing": true,
  "bracketSameLine": true,
  "endOfLine": "lf",
  "tabWidth": 2,
  "printWidth": 120
}
