---
const { href, target = "_parent", label = null, icon: Icon = null } = Astro.props;
---

<a
  href={href}
  target={target}
  class="inline-flex items-center gap-2 relative transition duration-200 ease-out hover:text-highlight hover:brightness-110 after:absolute after:left-0 after:-bottom-0.5 after:h-[2px] after:w-full after:origin-left after:scale-x-0 after:bg-highlight after:transition-transform after:duration-300 after:ease-out hover:after:scale-x-100">
  {Icon && <Icon />}
  {label && label}
</a>
