---
import { getCollection, type CollectionEntry } from "astro:content";
import { sortPostsByDate } from "../../scripts/sort.js";
import BaseLayout from "../../layouts/BaseLayout.astro";
import Card from "../../components/Card.astro";

export async function getStaticPaths() {
  const posts = await getCollection("posts");
  const tags = [...new Set(posts.map((post) => post.data.tags).flat())];
  return tags.map((tag) => {
    const filteredPosts = posts.filter((post) => post.data.tags.includes(tag));
    return {
      params: { tag },
      props: { posts: sortPostsByDate(filteredPosts) }
    };
  });
}

const { tag } = Astro.params;
const { posts } = Astro.props;
---

<BaseLayout title=`myk's Content Tags - #${tag}` description="myk's content tags">
  <section class="max-w-7xl mx-auto px-6 py-12">
    <div class="grid gap-8 md:grid-cols-2 lg:grid-cols-3">
      {posts.map((post: CollectionEntry<"posts">) => <Card post={post} badge={true} />)}
    </div>
  </section>
</BaseLayout>
