---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="MYK BLOG - ERROR 404">
  <div class="message-container">
    <p class="message">No such file or directory</p>
  </div>
</BaseLayout>
