---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="myk's Down!" description="myk's maintenance page">
  <section class="text-center py-30 max-w-3xl mx-auto">
    <h1 class="text-heading text-8xl font-bold mb-4">500</h1>
    <p class="text-muted text-xl">The website is temporarily unavailable</p>
  </section>
</BaseLayout>
