---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="MYK BLOG - ERROR 500">
  <div class="message-container">
    <p class="message">Something went wrong.</p>
  </div>
</BaseLayout>
