---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="myk's Placeholder Page" description="myk's placeholder page">
  <section class="text-center py-30 max-w-3xl mx-auto">
    <h1 class="text-heading text-8xl font-bold mb-4">Coming Soon</h1>
    <p class="text-muted text-xl">This page is a WIP</p>
    <p class="mt-8">
      <a href="/" class="bg-accent text-header rounded-lg hover:bg-highlight px-10 py-3">Return /home</a>
    </p>
  </section>
</BaseLayout>
