---
import { getCollection, type CollectionEntry } from "astro:content";
import { FRONTPAGE_POST_COUNT } from "astro:env/client";
import { sortPostsByDate } from "../scripts/sort.js";
import BaseLayout from "../layouts/BaseLayout.astro";
import Card from "../components/Card.astro";

const posts = await getCollection("posts");
const latestPosts = sortPostsByDate(posts).slice(0, FRONTPAGE_POST_COUNT);
---

<BaseLayout title="myk's Homepage" description="myk's homepage">
  <section class="max-w-7xl mx-auto px-6 py-12">
    <h2 class="text-heading font-bold text-3xl mb-8">Latest Posts</h2>
    <div class="grid gap-8 md:grid-cols-2 lg:grid-cols-3">
      {latestPosts.map((post: CollectionEntry<"posts">) => <Card post={post} badge={true} />)}
    </div>
  </section>
</BaseLayout>
